/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

html {
  font-size: 14px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  position: static;
}

/* Utilities */

:root {
  --dis-color-lightblue: #b4d0e6;
  --dis-color-blue: #0061fd;
  --dis-color-black: #000000;
  --dis-color-white: #fff;
  --dis-color--lightgray: #d3d3d3;
}

.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.container-small {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}
.col {
  width: calc(100% / 12 * 1);
  flex-basis: auto;

  [class^="col"] {
    padding: 1rem;
  }
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;}


  .d-flex-circle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
    ;
    
  }

  .d-flex-plans{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

  }

  .d-flex-icon-plan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
  }

  .d-flex-icon-plan-inside{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
  }

  .d-flex-icon-plan-inside-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 5px 0;
  }

  .d-flex-row{
    display: flex;
    justify-content: space-between;
    gap: 5px;

  }
  .d-flex-col {
    display: flex;
    justify-content: flex-start;}

    .d-flex-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
/* Header */

#menu {
  background-color: var(--dis-color-white);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px;

  .information-links {
    gap: 20px;
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: var(--dis-color-black);
    }
  }
  button {
    background-color: var(--dis-color-blue);
    padding: 5px 10px;
    border: none;
    color: var(--dis-color--lightgray);
  }
}

.all-information-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

/* Main */

.hero {
  background-color: var(--dis-color-lightblue);
  min-height: 600px;
  h1 {
    font-size: 4rem;
    padding: 100px 0 50px 0;
  }
  button {
    margin: 20px 0;
    background-color: var(--dis-color-blue);
    border: none;
    color: var(--dis-color--lightgray);
    padding: 10px 15px;
  }

  .down-arrow {
    margin-top: 20px;
    display: block;
    height: 50px;
    text-decoration: none;
    font-size: 5rem;
    color: var(--dis-color-black);
  }
  .col-8 {
    position: absolute;
    top: 0;
    left: 270px;
    .jumbo-img {
      max-width: 125%;
    }
  }
  .row {
    position: relative;
  }
}

.business-plans {
  margin-top: 100px;
  border-top: 1px solid var(--dis-color--lightgray);
  h2 {
    font-size: 2rem;
    margin: 30px 0;}

    .single-person, .team-people, .factory, .team{
        height: 30px;
        width: 100%;
        border-bottom: 1px solid var(--dis-color--lightgray);
    }
    .row{
        margin-top: 30px;
    }


.circle-bordered,
.circle {
    border: 1px solid var(--dis-color-black);
    width: 20px;
    height: 20px;
    border-radius: 50%;}
    .circle-bordered {
        width: 20px;
        height: 20px;
        border: 5px solid var(--dis-color-blue);
    }
    .circles{
        margin-bottom: 30px;
    }


}
.borders-4{
    border: 1px solid var(--dis-color--lightgray);

    .col-4-organization{
        padding: 20px 20px 100px 20px;
    }
 .function{
    padding-bottom: 30px;
 }
 .offline > span, .send > span, .sale > span, .new > span, .role > span, .assistance > span, .customizable > span{
    color: var(--dis-color-blue);
    font-size: 1.5rem;
 }
    .professional, .cost, .duration, .user-number, .space, .function, .shop-now, h4, .send, .offline, .sale, .new, .role {
        padding-top: 20px;
    }
 button{
    background-color: var(--dis-color-blue);
    color: var(--dis-color--lightgray);
    border: none;
    padding: 10px 20px;
 }
 .duration{
    color: var(--dis-color--lightgray);
 }
 .professional{
    padding-bottom: 20px;
 }
 h3{
    font-size: 1.5rem;
 }
 .shop-now{
    border-bottom: 1px solid var(--dis-color--lightgray);
    border-width: 10%;
    padding-bottom: 20px;
    
 }
}
.col-12{
position: relative;
    h3, span, p{
        margin: 20px;
    }
    h3{
        font-size: 1.5rem;
     }
    .borders{
        border: 1px solid var(--dis-color--lightgray);
    }

    button{
        background-color: var(--dis-color-blue);
        color: var(--dis-color--lightgray);
        border: none;
        padding: 10px 20px;
        position: absolute;
        top: 50px;
        right: 20px;
}
}

.dropbox-partner{

.row{
    margin: 50px 0;
}
    img{
        width: 100%;
    }

    h3{
        font-size: 1.5rem;
    }

    .find-partner{
        margin: 50px 20px;
        p{
            margin: 20px 0;
        }
    }

    button{
        padding: 5px 10px;
        background-color: white;
        border-color: var(--dis-color--lightgray);
    }
}
.explanation-dropbox-business{

    h2{
        font-size: 2.5em;
    }

    h3{
        margin: 10px 0 20px 0;
        font-size: 1.5rem;
    }

    p{
        line-height: 18px;
    }

    .col-4{
        margin: 20px 0;
        padding: 0px 20px;
    }
}
/* Footer */
